@font-face { font-family: myfont; src: url('myfont2.woff'); }

*   {
  font-family: myfont;
  cursor:default;
}

body {
background-color: #ffffff;
line-height: 1;
letter-spacing: .5px;
font-size: 18px;

}

#main1{
  text-align: left;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  margin-top: -8px;
  vertical-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);
  display: flex;
  overflow: clip;
}

#mainimg{
  text-align: left;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  margin-top: -8px;
  vertical-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);
  overflow: clip;
}

#main2{
  font-size: 12px;
  text-align: right;
  width: 600px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#main_not_found {
  font-size: 12px;
  text-align: left;
  margin: 0 auto;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#three {
  padding-left: 40px;
  padding-right: 40px;
}

/* for general text */
#general {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

/* the logo at the top of index.html */
#the-top {
  width: 399px;
  height: 147px;
  margin:0 auto;
  margin-top: 75px;
  position: relative;
}

#the-top img {
  position: absolute;
  left:0;
  text-align: center;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

#the-top img.t:hover {
  opacity: 0;
}

/* "about" and "blog" links on index.html */
#link-container1 {
  font-size: 12px;
  text-align: center;
  margin-top: 75px;
  word-spacing: 200px;
  font-weight: bold;
}

/* "archive" and "photography" links on index.html */
#link-container2 {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  word-spacing: 0px;
  font-weight: bold;
}

/* "links" and "extra" links on index.html */
#link-container3 {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  word-spacing: 200px;
  font-weight: bold;
}

#last_updated {
  font-size: 11px;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  border-width: 1px;
  padding: 5px;
  width: 198px;
}

#era {
  font-weight: bold;
  font-size: 9px;
  text-align: center;
  margin-top: 30px; 
}

#me {
  font-size: 12px;
  margin-top: 20px;
  margin: 0 auto;
  width: 600px;
}

#me-container {
  margin-top: 50px;
  text-align: center;
}

#nav-container {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  word-spacing: 50px;
  width: 600px;
  margin-top: 50px;
  padding: 5px;
}

#nav-blog-container {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  word-spacing: 40px;
  width: 600px;
  margin-top: 50px;
  padding: 5px;
}

#photos-links-container {
  text-align: center;
  word-spacing: 50px;
  margin-top: 50px;
}

#photos-thing-container {
  margin-top: 50px;
  text-align: center;
}

#photo-photo {
  margin-left: 20px;
  margin-right: 20px;
}

#buttons {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  width: 180px;
}

a.link{
  display: inline-block;
  vertical-align: middle;
  transition-duration: 100ms;
}

a.link:link{
  color: rgb(5, 65, 177);
  text-decoration: none;
  
}

a.link:visited{
  color: rgb(5, 65, 177);
  text-decoration: none;
}

a.link:hover{
  color: rgb(88, 222, 255);
  text-decoration: none;
  transition-duration: 100ms;
  cursor:pointer;
}

a.link:active{
  color: rgb(5, 65, 177);
  text-decoration: none;
}

a.linkdl{
  display: inline-block;
  vertical-align: middle;
  transition-duration: 100ms;
}

a.linkdl:link{
  color: rgb(19, 177, 5);
  text-decoration: none;
  
}

a.linkdl:visited{
  color: rgb(19, 177, 5);
  text-decoration: none;
}

a.linkdl:hover{
  color: rgb(187, 204, 30);
  text-decoration: none;
  transition-duration: 100ms;
  cursor:pointer;
}

a.linkdl:active{
  color: rgb(19, 177, 5);
  text-decoration: none;
}

#blog-container{
  font-size: 12px;
  margin: 0 auto;
  width: 450px;
}

#blog-container-full{
  font-size: 12px;
  margin: 0 auto;
  width: 600px;
}

#image-container{
  text-align: center;
}

#links-page-container{
  width: 120px;
  margin-top: 50px;
  margin: 0 auto;
  
}

#links-page-container1{
  width: 120px;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
}

#links-page-container2{
  width: 150px;
  margin-top: 50px;
  margin: 0 auto;
  
}

#links-links-container{
  text-align: center;
  word-spacing: 50px;
  margin-top: 50px;
}

#archive-links-container{
  text-align: center;
  margin-top: 50px;
}

#oddstories-container{
  font-size: 12px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 850px;
}

#cameras--photography{
  width: 600px;
  margin-top: 50px;
}

#cameras--photography--general{
  float: left;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  width: 600px;    
}

#top-logos{
  position: relative;
  margin: 0 auto;
}

#BG-container {
width: 600px;
background-color: #dedede;
margin: 0 auto;
}

br.divider {
display: block;
  content: "";
  margin-top: 50px;
}

#date{
  display:inline;
}

#title{
  display:inline;
}

details #title {
  color: rgb(177, 5, 5);
  transition-duration: 0ms;
  
}

details #title:hover {
  transition-duration: 100ms;
  color: rgb(255, 123, 0);
  cursor:pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

#descriptions {
  display: inline;
  position:absolute;
  padding-left: 8px;
}

audio {
  position: absolute;
  margin-left: 40px;
  margin-top: 2px;
  width: 200px;
}

details p, details img {
  border-top: 0px;
  display: inline;
}

#content {
  padding-right: 25px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: left;
}